#top_banner{
	width: 950px;
}

#header_background{
	width: 100%;
}

#nav_menu{
	width: 1000px;
	font-size: 0;
}

#atmark{
	width: 1em;
}

.menu_item{
	text-align: center;
	padding-top: 27px;
	display: inline-block;
	width: 190px;
	height: 23px;
  	border:5px solid #614D3E;
	font-size: 45px;
	color: #614D3E;	
}

.menu_item:hover{
	opacity: 0.6;
}

.main{
	border:5px solid #614D3E;
}

h1{
	font-family: serif;
	font-size: 3em;
	color: #614D3E;
	border-left: 0.7em solid #614D3E;
	padding-left: 0.3em;
}

h2{
	margin: 1px 1px;
	font-size: 1em;
	color: #614D3E;
	border-left: 2em solid #614D3E;
	padding-left: 0.3em;
}

.section_contents{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 50px;
	width: 850px;
}
.illust_thumbnail{
	width: 600px;
	border:1px solid transparent;
}

.illust_thumbnail:hover{
	opacity: 0.8;
	border:1px solid #DD90E8;
}

header{
	line-height: 0px;
}

body{
	width: 1000px;
	background-color: #FFFAF6;
	color: #5B523F;
	margin-left: 100px;
}

a{
	color: #FF59E0;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #CD3098;
}

dl{
	margin: 5px 5px;
}

dt{
	float: left;
}

dd{
	margin: 5px 5px;
	margin-left: 20em;
}

.ul_in_text{
	list-style: none;
}


.em_link{
	font-size: 1.5em;
	color: #5B523F;
}

.em_link:hover{
	opacity: 0.5;
}